<h1>Editing noticia</h1>

<%= render 'form' %>

<%= link_to helper_app_btn_title_show, @noticia, class: helper_app_btn_icon_show %> |
<%= link_to helper_app_btn_title_back, noticias_path, class: helper_app_btn_icon_back %>
