<% cont = 0 %>
<% evento_lista.each do |evento| %>

    <% row_open = cont == 0 %>
    <% row_end = cont == 2 %>

    <% if row_open %>
        <div class="row">
    <% end %>

    <%= helper_evento_box(evento) %>

    <% if row_end %>
        </div>
        <% cont = 0 %>
    <% else %>
        <% cont += 1 %>
    <% end %>

<% end %>