<h1>Editando galeria</h1>

<%= render 'form' %>

<%= link_to helper_app_btn_title_show, @galeria, class: helper_app_btn_icon_show %> |
<%= link_to helper_app_btn_title_back, galerias_path, class: helper_app_btn_icon_back %>
