<h1>Editing premio</h1>

<%= render 'form' %>

<%= link_to helper_app_btn_title_edit, @premio, class: helper_app_btn_icon_edit %> |
<%= link_to helper_app_btn_title_back, premios_path, class: helper_app_btn_icon_back %>
