<div class="container">
  <div class="row clearfix">
    <div class="col-md-4 column">
      <h3>
        Contato
      </h3>
      <address><strong>SECTES, CA</strong><br/>
        Av. Prefeito Américo Gianett, S/N<br/>
        Belo Horizonte/MG<br/>
        <abbr title="Phone">P:</abbr> (123) 456-7890
      </address>
    </div>
    <div class="col-md-4 column">
      <h3>
        Realização
      </h3><img alt="Italia" height="100" width="200"
                src="/assets/logo.png"/>
    </div>
    <div class="col-md-4 column">
      <h3>
        Apoio
      </h3><img alt="Governo de Minas Gerais" height="100" width="200"
                src="http://3.bp.blogspot.com/-stmkMW8KpYc/UUC29EHLSMI/AAAAAAAAQRk/cGwcl7LJYF4/s1600/1.jpg"/>
    </div>
  </div>
</div>