<div class="panel-footer">
  <div class="row clearfix">

    <div class="col-md-4 column">
      <h3>
        Realização
      </h3><img alt="Italia" height="100" width="200"
                src="/assets/logo.png"/>
    </div>

    <div class="col-md-3">
      <h3>
        Apoio
      </h3><img alt="Governo de Minas Gerais" height="100" width="200" src="/assets/governominas-logo.jpg">
    </div>

    <div class="col-md-4 column">
      <h3>Siga-nos</h3>
      <a href="http://www.facebook.com/premiomineiroinovacao" target="_blank"><img src="/assets/icons/facebook.png" width="32" height="32"></a>
      <a href="http://www.twitter.com/premiomineiroinovacao" target="_blank"><img src="/assets/icons/twitter.png" width="32" height="32"></a>
      <a href="http://www.instagram.com/premiomineiroinovacao" target="_blank"><img src="/assets/icons/instagram.png" width="32" height="32"></a>
      <a href="http://www.youtube.com/premiomineiroinovacao" target="_blank"><img src="/assets/icons/youtube.png" width="32" height="32"></a>
    </div>

    <div class="col-md-8">
      <small>
        Copyright © 2014 | Câmara Italiana de MG | Todos os direitos reservados.
      </small>
    </div>
  </div>
</div>